<div class="container">
    <h1 class="text-center my-4">curso-list</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Duración</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let curso of cursoList">
                <ng-container *ngIf="curso.duracion <= 4">
                    <td>{{ curso.id }}</td>
                    <td>{{ curso.nombre }}</td>
                    <td>{{ curso.duracion }}</td>
                    <td><button class="btn btn-danger btn-sm" (click)="delete(curso.id)">Borrar</button></td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>