.close {
    position: absolute;
    right: 10px;
    padding: 0.5rem;
    background-color: #f8f9fa;
    border: none;
    color: #000;
    font-size: 2rem;
    transition: color 0.3s;
    border-radius: 50%;
  }
  
  .close:hover {
    color: #ff0000;
  }
  
  .close:focus {
    outline: none;
  }

  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }