.close {
  position: absolute;
  right: 10px;
  padding: 0.5rem;
  background-color: #fff;
  border: none;
  color: #000;
  font-size: 2rem;
  transition: color 0.3s;
  border-radius: 50%;
  height: 62px;
  line-height: 30px;
}

.close:hover {
  color: #ff0000;
}

.close:focus {
  outline: none;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.black {
  color: #000 !important;
}

.input-icon {
  position: relative;
}

.input-icon input {
  padding-right: 30px; /* Ajusta este valor según sea necesario para evitar que el icono se superponga con el texto */
}

.input-icon i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #888; /* Puedes cambiar el color del icono según tus preferencias */
}