.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.text-danger {
  color: #b41825 !important;
  font-size: 11px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-top: 5px;
  height: 30px;
  line-height: 30px;
}

.error-icon{
  color: #000;
  font-weight: 900;
  margin-right: 5px;
  font-size: 14px;
}

.close {
  position: absolute;
  right: 10px;
  padding: 0.5rem;
  background-color: #f8f9fa;
  border: none;
  color: #000;
  font-size: 2rem;
  transition: color 0.3s;
  border-radius: 50%;
}

.close:hover {
  color: #ff0000;
}

.close:focus {
  outline: none;
}

.input-icon {
  position: relative;
}

.input-icon input {
  padding-right: 30px; /* Ajusta este valor según sea necesario para evitar que el icono se superponga con el texto */
}

.input-icon i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #888; /* Puedes cambiar el color del icono según tus preferencias */
}