<div class="container container-sm mt-4">
  <form [formGroup]="cursoForm">
    <h1 class="text-center my-4">curso-add</h1>
    <div class="row justify-content-center">
      <div class="p-4 text-center">
        <div class="form-group mb-3">
          <div class="input-icon">
            <input class="form-control" formControlName="nombre" type="text" maxlength="2" placeholder="Nombre">
            <i class="fas fa-user"></i>
          </div>
          <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
            <p class="text-danger" *ngIf="nombre.errors?.['required']">
              <i class="fas fa-times error-icon"></i> Completar Campo obligatorio
            </p>
          </div>
        </div>
        <div class="form-group mb-3">
          <div class="input-icon">
            <input class="form-control" formControlName="duracion" type="text" maxlength="2" placeholder="Duración">
            <i class="fas fa-clock"></i>
          </div>
          <div *ngIf="duracion.invalid && (duracion.dirty || duracion.touched)">
            <p class="text-danger" *ngIf="duracion.errors?.['required']">
              <i class="fas fa-times error-icon"></i> Completar Campo obligatorio
            </p>
            <p class="text-danger" *ngIf="duracion.errors?.['pattern']">
              <i class="fas fa-times error-icon"></i> Ingrese solo números
            </p>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" (click)="addCurso()">Agregar</button>
        </div>
        <!-- <div *ngIf="mensajeError" class="text-danger text-center p-4">
          <p>{{ mensajeError }}</p>
        </div> -->
      </div>
    </div>
  </form>
</div>

<ng-template #modalAdd let-modal>
  <div class="modal-header">
    <h5 class="modal-title">{{ mensajeTitulo }}</h5>
    <button class="close" aria-label="Close" (click)="modal.close('close')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="mensajeExito" class="text-success text-center p-4">
    <h3>{{ mensajeExito }}</h3>
  </div>
</ng-template>