<form [formGroup]="cursoForm">
  <div class="container-sm">
    <h1 class="text-center my-4">curso-add</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="p-4 text-center">
          <div class="form-group mb-3">
            <input class="form-control" formControlName="nombre" type="text" placeholder="Nombre">
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
              <p *ngIf="nombre.errors['required']" style="font-size: small; color: red">campo obligatorio</p>
            </div>
          </div>
          <div class="form-group mb-3">
            <input class="form-control" formControlName="duracion" type="text" placeholder="Duración">
            <div *ngIf="duracion.invalid && (nombre.dirty || nombre.touched)">
              <p *ngIf="duracion.errors['required']" style="font-size: small; color: red">campo obligatorio</p>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary" (click)="addCurso()">Agregar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>